/* font links */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@0,900;1,400&family=Open+Sans:wght@400;800&family=Poppins:wght@400;500&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');



/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 48px;
    background-color: #F948B2;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: 0;
}

/* work sans font from google fonts */


nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 240px 0 240px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.color {
    color: #F948B2;
}

nav img {
    width: 86px;
    height: 40px;
}

.nav-content ul {
display: flex;
    gap: 32px;
}

nav li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    gap: 32px;
}

.three:hover {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    padding: 18px 0 18px 24px;
}

li a {
    text-decoration: none;
    color: #3C354F;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    
    
    
}

.banner-container {
    background-image: url('../images/goat-bacground.png');
    width: 901px;
    height: 700px;
    
   
    
}
.banner-content{
    margin:148px 0 148px 240px;
    
}
.banner-img{
    margin-bottom: 19px;
    margin-right: 240px;
}

.banner-title-1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;

}

.banner-title-2 {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 24px 0;
}

.banner-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: 0;
}
.button{
    display: flex;
    gap: 24px;
    margin-top: 41px;
}


@media screen and (max-width:576px) {
    nav {
        background: none;
        box-shadow: none
    }

    .nav-content,
    ul {
        flex-direction: column;

    }

    nav {
        margin: 0;
    }

    ul {
        text-align: center;
    }
    .banner {
        flex-direction: column-reverse;
        
        }
        
}

@media screen and (min-width:576px) and (max-width: 992px) {
    nav {
        margin: 0;
        justify-content: space-around;
    }
}